/* section */

body {
  counter-reset: level1;
}

.md-content h1 {
  counter-reset: level2;
  border: 4px solid #159957;
  padding: 4px;
}

.md-content h2 {
  counter-reset: level3;
  border-left: 16px solid #159957;
  padding-left: 0.5em;
}

.md-content h3 {
  counter-reset: level4;
  border-left: 8px dotted #159957;
  padding-left: 0.5em;
}

.md-content h1::before {
  counter-increment: level1;
  content: counter(level1) ". ";
}

.md-content h2::before {
  counter-increment: level2;
  content: counter(level1) "-" counter(level2) ". ";
}

.md-content h3::before {
  counter-increment: level3;
  content: counter(level1) "-" counter(level2) "-" counter(level3) ". ";
}

/* emphasis for more easy to read */

strong {
  text-decoration: underline;
}
